In [1]:
import pandas as pd
import csv
from forecastiopy import *

In [2]:
api_key = 'f317a600493f0218b6a2dc86e29e48e3'

#Cities to Query [City, Latitude, Longitude]
loc = [
    ["Anchorage, Alaska", 61.2181, -149.9003],
    ["Buenos Aires, Argentia", -34.6037, -58.3816],
    ["São José dos Campos, Brazil", -23.2237, -45.9009],
    ["San José, Costa Rica", 9.9281, -84.0907],
    ["Nanaimo, Canada", 49.1659, -123.9401],
    ["Ningbo, China", 29.8683, 121.5440],
    ["Giza, Egypt", 30.0131, 31.2089],
    ["Mannheim, Germany", 49.4875, 8.4660],
    ["Hyderabad, India", 17.3850, 78.4867],
    ["Tehran, Iran", 35.6892, 51.3890],
    ["Bishkek, Kyrgyzstan", 42.8746, 74.5698],
    ["Riga, Latvia", 56.9496, 24.1052],
    ["Quetta, Pakistan",30.1798, 66.9750],
    ["Warsaw, Poland", 52.2297, 21.0122],
    ["Dhahran, Saudia Arabia", 26.2361, 50.0393],
    ["Madrid, Spain", 40.4168, -3.7038],
    ["Oldham, United Kingdom", 53.5409, -2.1114]
]

In [3]:
data = []

#Add headers
data.append(["City", "Min 1", "Max 1", 
                            "Min 2", "Max 2",
                            "Min 3", "Max 3",
                            "Min 4", "Max 4",
                            "Min 5", "Max 5",
                            "Min Avg", "Max Avg"])

#Fill in the Data
for city in loc:
    #Initialize min and max temp list
    mins = []
    maxs = []
    
    #Load the forecast object
    weather = ForecastIO.ForecastIO( api_key, units='si', latitude=city[1], longitude=city[2] )
    daily = FIODaily.FIODaily( weather )
        
    #Forecast temps
    for day in range( 2, 7 ):
        temps = daily.get(day)
        mintemp = temps[ 'temperatureMin' ]
        maxtemp = temps[ 'temperatureMax' ]
        mins.append(mintemp)
        maxs.append(maxtemp)
   
    #Add values to the dataset
    data.append([city[0],
    "{0:.2f}".format(mins[0]), #min1
    "{0:.2f}".format(maxs[0]), #max1
    "{0:.2f}".format(mins[1]), #min2
    "{0:.2f}".format(maxs[1]), #max2
    "{0:.2f}".format(mins[2]), #min3
    "{0:.2f}".format(maxs[2]), #max3
    "{0:.2f}".format(mins[3]), #min4
    "{0:.2f}".format(maxs[3]), #max4
    "{0:.2f}".format(mins[4]), #min5
    "{0:.2f}".format(maxs[4]), #max5
    "{0:.2f}".format(sum(mins)/len(mins)), #avgmin
    "{0:.2f}".format(sum(maxs)/len(maxs)) #avgmax
                ])

In [4]:
with open('temp.csv', 'w', newline='') as csvtemp:
    writer = csv.writer(csvtemp)
    writer.writerows(data)
csvtemp.close()

In [5]:
########### Load the CSV file into Python to check #################

path = "C:/Users/Jackson Cabell/Documents/Homework/Python/"
pd.read_csv(path + "temp.csv", encoding = "ISO-8859-1")

,City,Min 1,Max 1,Min 2,Max 2,Min 3,Max 3,Min 4,Max 4,Min 5,Max 5,Min Avg,Max Avg
0,"Anchorage, Alaska",14.02,20.04,12.88,19.03,12.45,17.59,12.11,18.47,11.00,18.14,12.49,18.65
1,"Buenos Aires, Argentia",5.38,15.94,2.88,12.03,3.46,12.49,5.87,11.54,8.75,14.84,5.27,13.37
2,"São José dos Campos, Brazil",15.91,25.66,16.36,24.98,16.24,25.87,17.14,23.73,15.61,26.63,16.25,25.37
3,"San José, Costa Rica",19.63,27.64,19.95,26.47,19.69,25.77,20.01,27.64,20.03,26.94,19.86,26.89
4,"Nanaimo, Canada",14.84,22.57,14.83,22.81,14.73,23.27,15.41,24.69,15.29,23.00,15.02,23.27
5,"Ningbo, China",22.69,26.27,23.17,28.15,23.47,28.57,24.07,27.98,24.15,27.22,23.51,27.64
6,"Giza, Egypt",21.79,37.23,19.90,36.41,21.04,36.14,21.60,36.92,24.68,38.14,21.80,36.97
7,"Mannheim, Germany",12.92,23.49,9.03,25.78,10.02,26.83,11.47,19.57,6.70,19.34,10.03,23.00
8,"Hyderabad, India",21.81,25.20,21.90,25.89,21.81,26.34,22.59,28.21,22.33,28.41,22.09,26.81
9,"Tehran, Iran",21.33,33.11,22.28,34.00,19.95,31.28,20.97,31.89,20.96,31.62,21.10,32.38
10,"Bishkek, Kyrgyzstan",13.92,26.68,11.23,27.79,12.25,23.28,12.75,26.89,10.67,19.83,12.16,24.89
11,"Riga, Latvia",15.89,23.07,13.05,19.96,12.47,21.60,13.53,22.46,12.39,19.34,13.47,21.29
12,"Quetta, Pakistan",19.19,33.45,18.24,34.07,18.43,35.15,16.80,35.18,16.70,33.91,17.87,34.35
13,"Warsaw, Poland",15.10,22.52,13.25,20.99,11.22,23.60,12.31,24.96,11.63,18.88,12.70,22.19
14,"Dhahran, Saudia Arabia",31.15,44.08,29.30,43.30,27.73,43.14,27.65,42.56,25.70,43.87,28.31,43.39
15,"Madrid, Spain",18.55,30.59,18.39,32.59,17.62,32.85,16.08,28.40,15.03,28.92,17.13,30.67
16,"Oldham, United Kingdom",9.86,18.58,12.85,19.10,9.51,15.41,7.77,14.24,11.14,15.92,10.23,16.65